<section class="text-in-screens">
  <p class="text-in-screens-label text-label">
    Text in Screenshot
  </p>
  <div class="text-in-screens-wrapper">
    <div class="text-in-screens-container">
      <div class="text-in-screen text-body-bold ease-out">"Forgot Password"</div>
      <div class="text-in-screen text-body-bold ease-out">"Upgrade</div>
      <div class="text-in-screen text-body-bold ease-out">"Bluetooth"</div>
      <div class="text-in-screen text-body-bold ease-out">"Payment"</div>
      <div class="text-in-screen text-body-bold ease-out">Dialog</div>
      <div class="text-in-screen text-body-bold ease-out">"Confirmed"</div>
    </div>
  </div>
</section>
