<div class="categories-wrapper">
  <p class="categories-label">Categories</p>
  <div class="button-wrapper">
    <button>
      <p class="text-body-bold">AI</p>
      <span>32</span>
    </button>
    <button>
      <p class="text-body-bold">Business</p>
      <span>29</span>
    </button>
    <button>
      <p class="text-body-bold">Collaboration</p>
      <span>11</span>
    </button>
    <button>
      <p class="text-body-bold">Communication</p>
      <span>14</span>
    </button>
    <button>
      <p class="text-body-bold">CRM</p>
      <span>5</span>
    </button>
    <button>
      <p class="text-body-bold">Crypto & Web3</p>
      <span>24</span>
    </button>
    <button>
      <p class="text-body-bold">Developer Tools</p>
      <span>3</span>
    </button>
    <button>
      <p class="text-body-bold">Education</p>
      <span>33</span>
    </button>
    <button>
      <p class="text-body-bold">Entertainment</p>
      <span>38</span>
    </button>
    <button>
      <p class="text-body-bold">Finance</p>
      <span>95</span>
    </button>
    <button>
      <p class="text-body-bold">Food & Drink</p>
      <span>7</span>
    </button>
    <button>
      <p class="text-body-bold">Graphics & Design</p>
      <span>7</span>
    </button>
    <button>
      <p class="text-body-bold">Health & Fitness</p>
      <span>87</span>
    </button>
    <button>
      <p class="text-body-bold">Jobs & Recruitment</p>
      <span>7</span>
    </button>
    <button>
      <p class="text-body-bold">Lifestyle</p>
      <span>65</span>
    </button>
    <button>
      <p class="text-body-bold">Medical</p>
      <span>8</span>
    </button>
    <button>
      <p class="text-body-bold">Music & Audio</p>
      <span>34</span>
    </button>
    <button>
      <p class="text-body-bold">Maps & Navigation</p>
      <span>10</span>
    </button>
    <button>
      <p class="text-body-bold">News</p>
      <span>44</span>
    </button>
    <button>
      <p class="text-body-bold">Photo & Video</p>
      <span>37</span>
    </button>
    <button>
      <p class="text-body-bold">Productivity</p>
      <span>54</span>
    </button>
    <button>
      <p class="text-body-bold">Real Estate</p>
      <span>9</span>
    </button>
    <button>
      <p class="text-body-bold">Reference</p>
      <span>8</span>
    </button>
    <button>
      <p class="text-body-bold">Shopping</p>
      <span>100</span>
    </button>

    <button>
      <p class="text-body-bold">Social Networking</p>
      <span>78</span>
    </button>
    <button>
      <p class="text-body-bold">Sports</p>
      <span>17</span>
    </button>
    <button>
      <p class="text-body-bold">Travel & Transportation</p>
      <span>55</span>
    </button>
    <button>
      <p class="text-body-bold">Utilities</p>
      <span>24</span>
    </button>
  </div>
</div>
