.categories-wrapper {
  gap: var(--geist-space-2x);
  flex-direction: column;
  max-height: 630px;
  overflow: hidden;
  display: flex;
}

.button-wrapper {
  scrollbar-width: none;
  overflow: auto;
}

.categories-label {
  color: hsl(var(--glass-text-secondary));
  padding-inline: var(--geist-space-3x);
  display: flex;
}
