
app-navbar-layout-two {
  display: none;
}

@media (max-width: 840px) {

  app-navbar-layout-one {
    display: none;
  }

  app-navbar-layout-two {
    display: flex;
  }

  .navbar-wrapper {
    padding-block: var(--geist-space);
  }
}
