<div class="screens-wrapper">
  <div class="screens-secondary-wrapper">
    @for (screen of screens; track screen.id) {
      <div class="screen-wrapper">
        <p class="screen-label" [attr.aria-labelledby]="'label-' + screen.title">{{ screen.title }}</p>
        <div class="button-wrapper" [attr.aria-labelledby]="'button-wrapper-for-' + screen.title">
          @for (button of screen.buttons; track button.id) {
            <app-navbar-dialog-screen-button [button]="button"/>
          }
        </div>
      </div>
    }
  </div>
</div>
