dialog {

  --geist-box-shadow-color: rgba(0, 0, 0, 0.2);
  --geist-dialog: hsl(0, 0%, 15%);
  --height-min-calc-value: 720px;
  --searchbar-min-bottom: 120px;
  --geist-page-height: 100vh;
  --searchbar-top: 120px;
  --vertical-offset: 4px;
  --blur-offset: 12px;
  --radius: 1.563rem;
  --max-width: 51rem;
  --width: 100%;
  --top: 8rem;


  height: min(calc(var(--height-min-calc-value) + var(--geist-space-2x)), calc(var(--geist-page-height) - var(--searchbar-top) - var(--searchbar-min-bottom) + var(--geist-space-2x)));
  box-shadow: 0 var(--vertical-offset) var(--blur-offset) var(--geist-box-shadow-color);
  background-color: var(--geist-dialog);
  border-radius: var(--radius);
  max-width: var(--max-width);
  margin-top: var(--top);
  scrollbar-width: none;
  width: var(--width);
  border: none;
  padding: 0;
}

dialog::backdrop {
  --tw-backdrop-blur: blur(3px);

  backdrop-filter:
    var(--tw-backdrop-blur);
}

.dialog-header {

  --geist-space-5x: 20px;

  padding-inline: var(--geist-space-6x);
  padding-block: var(--geist-space-5x);
  gap: var(--geist-space-3x);
  display: flex;
}

.dialog-header input {

  --geist-space-4x: 16px;
  --spacing: .009em;
  --weight: 456;

  line-height: var(--geist-space-6x);
  font-size: var(--geist-space-4x);
  letter-spacing: var(--spacing);
  background-color: transparent;
  font-weight: var(--weight);
  color: var(--accents-9);
  flex-grow: 1;
  border: none;
}

.dialog-header input::placeholder {

  --placeholder-color: rgb(165, 165, 165);
  --geist-space-4x: 16px;

  font-feature-settings: "dlig" on, "ss07" on, "calt" off;
  font-size: var(--geist-space-4x);
  color: var(--placeholder-color);
}

.dialog-head-icons {

  gap: var(--geist-space-4x);
  align-items: center;
  display: flex;
}

.dialog-head-icons svg {
  fill: var(--accents-6);
}

.selected {
  fill: none !important;
}

.content {

  grid-template-columns: 260px 1fr;
  padding-left: 20px;
  display: grid;
}

.dialog-content-wrapper {

  padding-bottom: var(--geist-space-medium);
  padding-inline: var(--geist-space-4x);
  padding-top: var(--geist-space-2x);
  row-gap: var(--geist-space-6x);
  flex-direction: column;
  display: flex;
}
