<section class="screens">
  <p class="screens-label text-label">
    Screens
  </p>
  <div class="screens-wrapper">
    <div class="screen-container signup-screen">
      <p class="screen-label text-body-bold">Sign up</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/Vimeo%20-%20signup.png"' [alt]='"Vimeo phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/Apple%20-%20signup.png"' [alt]='"Apple phone image"'>
    </div>
    <div class="screen-container login-screen">
      <p class="screen-label text-body-bold">Login</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/Cleo%20-%20login.png"' [alt]='"Cleo phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/Disney%20-%20login.png"' [alt]='"Disney phone image"'>
    </div>
    <div class="screen-container fuse home-screen">
      <p class="screen-label text-body-bold">Home</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/DoorDash%20-%20home.png"' [alt]='"Doordash phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/Mobbin%20-%20home.png"' [alt]='"Mobbin phone image"'>
    </div>
  </div>
  <div class="screens-wrapper checkout-screen">
    <div class="screen-container ease-out">
      <p class="screen-label text-body-bold">Checkout</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/Tesla%20-%20checkout.png"' [alt]='"Tesla phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/Stripe%20-%20checkout.png"' [alt]='"Stripe phone image"'>
    </div>
    <div class="screen-container ease-out dashboard-screen">
      <p class="screen-label text-body-bold">Dashboard</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/Custom%20-%20dashboard.png"' [alt]='"Custom phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/Bytes%20-%20dashboard.png"' [alt]='"Bytes phone image"'>
    </div>
    <div class="screen-container ease-out search-screen">
      <p class="screen-label text-body-bold">Search</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/search.png"' [alt]='"Search phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/search_01.png"' [alt]='"Search phone image"'>
    </div>
    <div class="screen-container ease-out filter-sort-screen">
      <p class="screen-label text-body-bold">Filter & Sort</p>
      <img class="close" [src]='"assets/navbar/dialog/screens/filter.png"' [alt]='"Filter phone image"'>
      <img class="far" [src]='"assets/navbar/dialog/screens/filter_01.png"' [alt]='"Filter phone image"'>
    </div>
  </div>
</section>
