.sidebar {

  padding-top: var(--geist-space-2x);
  flex-direction: column;
  padding-bottom: 20px;
  align-items: stretch;
  display: flex;
  row-gap: 1px;
}

.sidebar button {

  padding-inline: var(--geist-space-3x);
  padding-block: var(--geist-space-2x);
  border-radius: var(--geist-space-3x);
  background-color: transparent;
  gap: var(--geist-space-3x);
  color: var(--accents-9);
  align-items: center;
  display: flex;
  border: none;
  width: 100%;
}

.sidebar button:hover {
  background-color: hsl(var(--glass-background-secondary));
}

.sidebar button svg,
.sidebar button path {

  --stroke-color: hsl(0 0% 68%);

  stroke: var(--stroke-color);
  stroke-width: 2px;
}

.sidebar .selected {
  background-color: hsl(var(--glass-background-secondary));
}
