<div class="sidebar">
  <button class="selected">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        d="M18.001 5L10.4852 12.7259L7.35364 9.50677L1.7168 15.3012"
        vector-effect="non-scaling-stroke"
      />
      <path
        d="M18.0008 12V5L11 5"
        vector-effect="non-scaling-stroke"
      />
    </svg>
    <span class="text-body-bold">Trending</span>
  </button>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <rect
        x="3"
        y="10"
        width="14"
        height="8"
        stroke-linecap="square"
        vector-effect="non-scaling-stroke"
      />
      <path
        d="M5 6H15"
        vector-effect="non-scaling-stroke"
      />
      <path
        d="M7 2H13"
        vector-effect="non-scaling-stroke"
      />
    </svg>
    <span>Categories</span>
  </button>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <rect
        x="8"
        y="6"
        width="8"
        height="12"
        stroke-linecap="square"
        vector-effect="non-scaling-stroke"
      />
      <path
        d="M12 2H4V14"
        stroke-linecap="square"
        vector-effect="non-scaling-stroke"
      />
    </svg>
    <span>Screens</span>
  </button>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        d="M2 10C2 6.68629 4.68629 4 8 4H12C15.3137 4 18 6.68629 18 10C18 13.3137 15.3137 16 12 16H8C4.68629 16 2 13.3137 2 10Z"
        vector-effect="non-scaling-stroke"
      />
      <circle
        cx="12"
        cy="10"
        r="3"
        fill="var(--stroke-color)"
      />
    </svg>
    <span>UI Elements</span>
  </button>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        d="M4 17C5.65685 17 7 15.6569 7 14C7 12.3431 5.65685 11 4 11C2.34315 11 1 12.3431 1 14C1 15.6569 2.34315 17 4 17Z"
        fill="var(--stroke-color)"
      />
      <path
        d="M13 3H16H19V6V9H16H13V6V3Z"
        fill="var(--stroke-color)"
      />
      <path
        d="M4 9V7C4 5.34315 5.34315 4 7 4C8.65685 4 10 5.34315 10 7V13C10 14.6569 11.3431 16 13 16C14.6569 16 16 14.6569 16 13V11"
        vector-effect="non-scaling-stroke"
      />
    </svg>
    <span>Flows</span>
  </button>
</div>
