.sidebar {

  --geist-space-6x: 20px;
  --gap: 1px;

  padding-bottom: var(--geist-space-6x);
  padding-top: var(--geist-space-2x);
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--gap);
  display: flex;
}

.sidebar button {

  padding-inline: var(--geist-space-3x);
  padding-block: var(--geist-space-2x);
  border-radius: var(--geist-space-3x);
  background-color: transparent;
  gap: var(--geist-space-3x);
  color: var(--accents-9);
  align-items: center;
  display: flex;
  border: none;
  width: 100%;
}

.sidebar button:hover {
  --geist-selected-button: hsl(0 0% 27%);

  background-color: var(--geist-selected-button);
}

.sidebar button svg,
.sidebar button path {

  --stroke-color: hsl(0 0% 68%);
  --stroke: 2px;

  stroke: var(--stroke-color);
  stroke-width: 2px;
}

.sidebar .selected {
  --geist-selected-button: hsl(0 0% 27%);

  background-color: var(--geist-selected-button) !important;
}
