<div class="navbar-wrapper">
  <div class="head-section">
    <div class="logo-wrapper">
      <div class="logo">
        <svg
          width="48"
          height="20"
          viewBox="0 0 139 64"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid meet"
        >
          <path
            d="M84.3504 64H48.1695V47.315L32.569 63.9989L0 63.9841V29.9515L28.31 0H67.4439V15.9214L82.6881 0H116.593V26.1874H139V64H99.1163V48.208L84.3504 64Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="middle">
        <button class="search-bar ease-out">
          <div class="search-wrapper">
            <div class="icon-wrapper">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  aria-hidden="true"
                >
                  <path
                    d="M16.59 16.59L13.2429 13.2424M15 9C15 12.3137 12.3137 15 9 15C5.68629 15 3 12.3137 3 9C3 5.68629 5.68629 3 9 3C12.3137 3 15 5.68629 15 9Z"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="square"
                    vector-effect="non-scaling-stroke"
                  />
                </svg>

              </div>
              <div class="span-wrapper">
                <span class="truncate">Search on iOS...</span>
              </div>
            </div>
            <svg class="scan"
                 xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 viewBox="0 0 20 20"
                 fill="none"
            >
              <path
                d="M7 7H8.5H10H11.5H13V10V13H11.5H10H8.5H7V10V7Z"
                stroke-linecap="round"
                vector-effect="non-scaling-stroke"
              />
              <path class="scan" d="M7 3H3V7"/>
              <path class="scan" d="M17 7V3L13 3"/>
              <path class="scan" d="M3 13L3 17L7 17"/>
              <path class="scan" d="M13 17H17L17 13"/>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="other">
      <div class="user-icon">
        <span>H</span>
      </div>
    </div>
  </div>

  <!-- DOWN -->

  <div class="body-section">
    <p class="selected">Apps</p>
    <p class="ease-out">Sites</p>
  </div>
</div>
